In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

In [50]:
data = pd.read_csv("../data/train.csv")
data.head()

   Id                                           Sequence
0   3  1,3,13,87,1053,28576,2141733,508147108,4021352...
1   7  1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...
2   8  1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...
3  11  1,8,25,83,274,2275,132224,1060067,3312425,1099...
4  13  1,111,12211,1343211,147753211,16252853211,1787...

In [51]:
data.shape

(113845, 2)

In [52]:
data['NumSequence'] = data['Sequence'].str.split(',')
data['MaxNum'] = [int(max(seq)) for seq in data['NumSequence']]
data.head()

,Id,Sequence,NumSequence,MaxNum
0,3,"1,3,13,87,1053,28576,2141733,508147108,4021352...","[1, 3, 13, 87, 1053, 28576, 2141733, 508147108...",9700385489355970183
1,7,"1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...","[1, 2, 1, 5, 5, 1, 11, 16, 7, 1, 23, 44, 30, 9...",96
2,8,"1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...","[1, 2, 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 12...",81920
3,11,"1,8,25,83,274,2275,132224,1060067,3312425,1099...","[1, 8, 25, 83, 274, 2275, 132224, 1060067, 331...",83
4,13,"1,111,12211,1343211,147753211,16252853211,1787...","[1, 111, 12211, 1343211, 147753211, 1625285321...",28792920887348623853211

In [53]:
data.dtypes

Id              int64
Sequence       object
NumSequence    object
MaxNum         object
dtype: object

In [54]:
data.shape

(113845, 4)

In [55]:
data = data[data["MaxNum"] < (2**15)]
data.shape

(73799, 4)

In [56]:
data = data['NumSequence']
data

1         [1, 2, 1, 5, 5, 1, 11, 16, 7, 1, 23, 44, 30, 9...
3         [1, 8, 25, 83, 274, 2275, 132224, 1060067, 331...
5         [1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 5, ...
6         [840, 1320, 1680, 2520, 3192, 3432, 4920, 5208...
7         [1, 2, 7, 27, 113, 483, 2138, 9681, 44374, 205...
                                ...
113839    [1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
113840    [0, 0, 4, 1198, 1829388, 23796035743, 21429675...
113842    [0, 1, 9, 85, 801, 7549, 71145, 670501, 631908...
113843    [2, 3, 3, 4, 6, 4, 5, 10, 10, 5, 6, 15, 20, 15...
113844             [5, 7, 179, 229, 439, 557, 6113, 223999]
Name: NumSequence, Length: 73799, dtype: object

In [57]:
data.to_numpy()

array([list(['1', '2', '1', '5', '5', '1', '11', '16', '7', '1', '23', '44', '30', '9', '1', '47', '112', '104', '48', '11', '1', '95', '272', '320', '200', '70', '13', '1', '191', '640', '912', '720', '340', '96', '15', '1', '383', '1472', '2464', '2352', '1400', '532', '126', '17', '1', '767', '3328', '6400', '7168', '5152', '2464', '784', '160', '19', '1', '1535', '7424']),
       list(['1', '8', '25', '83', '274', '2275', '132224', '1060067', '3312425', '10997342', '36304451', '301432950', '17519415551', '140456757358', '438889687625', '1457125820233', '4810267148324', '39939263006825', '2321287521544174', '18610239435360217']),
       list(['1', '1', '1', '1', '1', '1', '1', '1', '1', '5', '1', '1', '1', '1', '5', '5', '1', '1', '1', '1', '11', '5', '5', '11', '5', '1', '1', '1', '1', '5', '23', '5', '23', '5', '5', '1', '1', '1', '1', '21', '5', '39', '5', '5', '39', '5', '21', '5', '1', '1', '1', '1', '5', '1', '17', '1', '17', '1', '1', '5', '1', '1', '1', '1', '31', '5', '5', '29', '1', '1', '29', '1', '5']),
       ...,
       list(['0', '1', '9', '85', '801', '7549', '71145', '670501', '6319089', '59553805', '561260601', '5289560629', '49851088065', '469818035101', '4427766668169', '41729172153925', '393273616058001', '3706379233137709', '34930507562471385', '329200084994793301', '3102522795203025249', '29239505496806400445']),
       list(['2', '3', '3', '4', '6', '4', '5', '10', '10', '5', '6', '15', '20', '15', '6', '7', '21', '35', '35', '21', '7', '8', '28', '56', '70', '56', '28', '8', '9', '36', '84', '126', '126', '84', '36', '9', '10', '45', '120', '210', '252', '210', '120', '45', '10', '11', '55', '165', '330', '462', '462', '330', '165', '55', '11', '12', '66', '220', '495', '792', '924', '792', '495', '220', '66', '12', '13', '78', '286', '715']),
       list(['5', '7', '179', '229', '439', '557', '6113', '223999'])],
      dtype=object)

In [58]:
data.to_csv("../data/preprocessed-3-rnn.csv", index=False)