In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

In [2]:
data = pd.read_csv("../data/train.csv")
data.head()

   Id                                           Sequence
0   3  1,3,13,87,1053,28576,2141733,508147108,4021352...
1   7  1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...
2   8  1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...
3  11  1,8,25,83,274,2275,132224,1060067,3312425,1099...
4  13  1,111,12211,1343211,147753211,16252853211,1787...

In [3]:
data.shape

(113845, 2)

In [27]:
data['NumSequence'] = data['Sequence'].str.split(',')
data['LastNum'] = [seq[-1] for seq in data['NumSequence']]
data['TrainSeq'] = [seq[:-1] for seq in data['NumSequence']]
data['TrainSeq'] = data['TrainSeq'].str.join(',')
data["TrainSeqLength"] = data["TrainSeq"].str.len()
data.head()

,Id,Sequence,NumSequence,LastNum,TrainSeq,TrainSeqLength
0,3,"1,3,13,87,1053,28576,2141733,508147108,4021352...","[1, 3, 13, 87, 1053, 28576, 2141733, 508147108...",11474377948948020660089085281068730,"1,3,13,87,1053,28576,2141733,508147108,4021352...",143
1,7,"1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...","[1, 2, 1, 5, 5, 1, 11, 16, 7, 1, 23, 44, 30, 9...",7424,"1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...",188
2,8,"1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...","[1, 2, 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 12...",2097152,"1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...",189
3,11,"1,8,25,83,274,2275,132224,1060067,3312425,1099...","[1, 8, 25, 83, 274, 2275, 132224, 1060067, 331...",18610239435360217,"1,8,25,83,274,2275,132224,1060067,3312425,1099...",167
4,13,"1,111,12211,1343211,147753211,16252853211,1787...","[1, 111, 12211, 1343211, 147753211, 1625285321...",28792920887348623853211,"1,111,12211,1343211,147753211,16252853211,1787...",131

In [5]:
data.drop("Id", axis = 1, inplace= True)

In [6]:
data.to_csv("../data/preprocessed-2-rnn.csv", index=False)