In [21]:
import pandas as pd
import numpy
import torch

In [2]:
data = pd.read_csv("data/preprocessed-1-dnn.csv")
data

      Unnamed: 0                                           TrainSeq    LastNum
0             28  1,1,9,1,25,11,1,49,31,43,1,81,61,247,85,1,121,...  000657871
1             88  1,0,0,1,0,0,1,0,0,1,0,0,2,0,0,2,0,0,2,0,0,2,0,...  000000000
2            114  1,1,1,2,1,1,2,1,1,2,2,2,2,2,3,2,3,3,2,2,3,1,1,...  000000003
3            137  0,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,...  000000009
4            175  3,8,4,5,7,1,7,5,0,5,0,4,9,4,8,7,0,3,1,4,7,9,4,...  000000007
...          ...                                                ...        ...
3871      113770  1,1,1,1,2,1,1,3,3,1,1,4,6,4,1,1,6,10,10,6,1,1,...  000021259
3872      113778  2,7,6,8,6,7,8,2,8,2,9,8,7,3,2,1,5,3,2,4,9,5,3,...  000000006
3873      113810  1,1,1,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,...  000000005
3874      113815  1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...  000000002
3875      113819  1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,...  000000002

[3876 rows x 3 columns]

In [3]:
data['TrainSeq']

0       1,1,9,1,25,11,1,49,31,43,1,81,61,247,85,1,121,...
1       1,0,0,1,0,0,1,0,0,1,0,0,2,0,0,2,0,0,2,0,0,2,0,...
2       1,1,1,2,1,1,2,1,1,2,2,2,2,2,3,2,3,3,2,2,3,1,1,...
3       0,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,...
4       3,8,4,5,7,1,7,5,0,5,0,4,9,4,8,7,0,3,1,4,7,9,4,...
                              ...
3871    1,1,1,1,2,1,1,3,3,1,1,4,6,4,1,1,6,10,10,6,1,1,...
3872    2,7,6,8,6,7,8,2,8,2,9,8,7,3,2,1,5,3,2,4,9,5,3,...
3873    1,1,1,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,...
3874    1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
3875    1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,...
Name: TrainSeq, Length: 3876, dtype: object

In [4]:
from models.dnn import DNN
from preprocessing.encoding import seqToTensor

%load_ext autoreload
%autoreload 2

In [27]:
input_length = len(data['TrainSeq'][0])
encoded = []
symbols = '0123456789,-'

for sequence in data['TrainSeq']:
    flattened= torch.flatten(seqToTensor(sequence, input_length, symbols = symbols))
    encoded.append(flattened)

In [28]:
print(encoded[0].shape[0])

2484

In [29]:
dnn = DNN(encoded[0].shape[0], len(symbols)*9, seed = 5, hidden_layer_param=[640])

In [30]:
dnn(encoded[0])

tensor([ 0.0298, -0.0412, -0.0081, -0.0048,  0.1712, -0.0187,  0.0505, -0.0319,
        -0.1135,  0.0338,  0.0387,  0.1252, -0.0098, -0.0343,  0.0366,  0.0301,
        -0.0936, -0.0094, -0.0410,  0.0050, -0.0102, -0.0326, -0.0331,  0.0222,
        -0.0128,  0.0636,  0.0425, -0.0187, -0.0646, -0.0092, -0.0088,  0.0711,
         0.0510,  0.1258,  0.0382, -0.0056, -0.0699, -0.0507, -0.0805,  0.0223,
        -0.0419, -0.0431,  0.0306, -0.0111, -0.0133,  0.0602,  0.1137,  0.0863,
        -0.0958, -0.0165, -0.0528, -0.0758,  0.0834, -0.0346,  0.0732, -0.0387,
         0.0166,  0.1016,  0.0303, -0.0058,  0.0341, -0.0039,  0.0405,  0.1166,
        -0.0583, -0.0895, -0.0294, -0.0682, -0.0676, -0.0493,  0.0354,  0.0412,
         0.0090,  0.0371,  0.0195,  0.1304,  0.0658, -0.1209, -0.0101, -0.0223,
        -0.0034, -0.0491, -0.0453,  0.0322, -0.0329, -0.0851,  0.0179,  0.0789,
         0.0187, -0.0231,  0.1282, -0.0006, -0.0848, -0.0094, -0.0334,  0.0471,
         0.0123, -0.0096,  0.0434, -0.0462,  0.0316,  0.0537, -0.0458,  0.0560,
        -0.0383, -0.0103,  0.0358, -0.0126], grad_fn=<AddBackward0>)