In [1]:
from sympy import *
from random import choice, randrange
import numpy as np
import pandas as pd
from typing import List
from utils import generate_random_eq, is_eq_valid

%load_ext autoreload
%autoreload 2

In [2]:

generate_random_eq(9)

'5+t*9-9-7'

In [3]:
eqs = list(set([generate_random_eq(9) for i in range(0, 10000)]))
len(eqs)

9967

In [4]:
ts = [1,2,3,5,10]




eqs = [eq for eq in eqs if is_eq_valid(eq, ts) == True]
len(eqs)

7183

In [5]:
eqs[1]

'5*t*1+t*4'

In [6]:
# because we need to wrap int casting into a try-catch block, we can't use array comprehensionran
X = []
for fun in eqs:
    int_seq = []
    for i in range(1, 10):
        try:
            int_seq.append(int(parse_expr(fun, local_dict = {'t': i})))
        except:
            pass
    X.append(int_seq)
X = [x for x in X if len(x) == 9]
len(X)

7183

In [7]:
data = pd.DataFrame(X)
data['eqs'] = eqs
data

       0   1    2    3    4    5    6    7    8        eqs
0      5  10   15   20   25   30   35   40   45  0*3*3+5*t
1      9  18   27   36   45   54   63   72   81  5*t*1+t*4
2    -30 -69 -108 -147 -186 -225 -264 -303 -342  9+t-t*8*5
3      6  14   22   30   38   46   54   62   70  1+7*t-3+t
4     27  36   45   54   63   72   81   90   99  2*6+6+t*9
...   ..  ..  ...  ...  ...  ...  ...  ...  ...        ...
7178  13  12   11   10    9    8    7    6    5  7+4-t-0+3
7179   7  14   21   28   35   42   49   56   63  2+1-3+7*t
7180   4   6   10   16   24   34   46   60   76  4-t+t*t*1
7181  -7 -13  -19  -25  -31  -37  -43  -49  -55  t-1-t*8+t
7182   6   0   -6  -12  -18  -24  -30  -36  -42  6-6*t*1+6

[7183 rows x 10 columns]

In [8]:
data.to_csv('./data/eqs.csv')

In [10]:
eqs[1]

'5*t*1+t*4'

['1', '*', '2', '3', 't', '+', '2', '3']