In [21]:
from sympy import *
from random import choice, randrange
import numpy as np
import pandas as pd
from typing import List
from utils import generate_random_eq, is_eq_valid, generate_random_eq_valid, eq_to_seq

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:

generate_random_eq(9)

'y+0+4*t*y'

In [29]:
eqs = list(set([generate_random_eq(9) for i in range(0, 100000)]))
len(eqs)

98462

In [30]:
ts = [1,2,3,5,10]


eqs = [eq for eq in eqs if is_eq_valid(eq, ts) == True]
len(eqs)

57122

In [31]:
# because we need to wrap int casting into a try-catch block, we can't use array comprehensionran
X = []
for fun in eqs:
    int_seq = []
    for i in range(1, 10):
        try:
            int_seq.append(int(parse_expr(fun, local_dict = {'t': i})))
        except:
            pass
    X.append(int_seq)
len(X)

57122

In [32]:
data = pd.DataFrame(X)
data['eqs'] = eqs
data.dropna(inplace = True)
data.shape[0]

10120

In [33]:
data.to_csv('./data/eqs-test.csv')

In [ ]:
eq_to_seq('1232*t', length = 9)

In [21]:
is_eq_valid('1232*t')

True

In [36]:
eq_to_seq('1232*t', 9)

[1232, 2464, 3696, 4928, 6160, 7392, 8624, 9856, 11088]