In [2]:
from sympy import *
from random import choice, randrange
import numpy as np
import pandas as pd
from typing import List
from utils import generate_random_eq, is_eq_valid, generate_random_eq_valid, eq_to_seq

%load_ext autoreload
%autoreload 2

In [3]:

generate_random_eq(5)

'4^5*5'

In [29]:
eqs = list(set([generate_random_eq(5) for _ in range(0, 1000000)]))
len(eqs)

21296

In [31]:
ts = [1,2,3,5,10]

eqs = [eq for eq in eqs if is_eq_valid(eq, ts) == True]
len(eqs)

3610

In [33]:
eqs[:10]

['4*t+9',
 '9+5^t',
 '2+t*1',
 't*3-t',
 '7*t+5',
 't+8^3',
 't^6-3',
 '0^1+t',
 't*3-8',
 't*1+7']

In [43]:
# because we need to wrap int casting into a try-catch block, we can't use array comprehensionran
X = []
for fun in eqs:
    fun_correct = fun.replace('^', '**')
    int_seq = []
    for i in range(1, 10):
        try:
            int_seq.append(int(eval(fun_correct.replace('t', str(i)))))
        except:
            pass
    X.append(int_seq)
len(X)

3610

In [44]:
X[:10]

[[13, 17, 21, 25, 29, 33, 37, 41, 45],
 [14, 34, 134, 634, 3134, 15634, 78134, 390634, 1953134],
 [3, 4, 5, 6, 7, 8, 9, 10, 11],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [12, 19, 26, 33, 40, 47, 54, 61, 68],
 [513, 514, 515, 516, 517, 518, 519, 520, 521],
 [-2, 61, 726, 4093, 15622, 46653, 117646, 262141, 531438],
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 [-5, -2, 1, 4, 7, 10, 13, 16, 19],
 [8, 9, 10, 11, 12, 13, 14, 15, 16]]

In [45]:
data = pd.DataFrame(X)
data['eqs'] = eqs
data.dropna(inplace = True)
data[0] = data[0].astype(int)
data[1] = data[1].astype(int)
data[2] = data[2].astype(int)
data[3] = data[3].astype(int)
data[4] = data[4].astype(int)
data[5] = data[5].astype(int)
data[6] = data[6].astype(int)
data[7] = data[7].astype(int)
data[8] = data[8].astype(int)

data.shape[0]

3610

In [46]:
data

       0   1    2     3      4       5        6         7          8    eqs
0     13  17   21    25     29      33       37        41         45  4*t+9
1     14  34  134   634   3134   15634    78134    390634    1953134  9+5^t
2      3   4    5     6      7       8        9        10         11  2+t*1
3      2   4    6     8     10      12       14        16         18  t*3-t
4     12  19   26    33     40      47       54        61         68  7*t+5
...   ..  ..  ...   ...    ...     ...      ...       ...        ...    ...
3605   6  48  162   384    750    1296     2058      3072       4374  6*t^3
3606  -3   1    5     9     13      17       21        25         29  t*4-7
3607   4  10   28    82    244     730     2188      6562      19684  3^t+1
3608  16  32   64   128    256     512     1024      2048       4096  8*2^t
3609  10  83  732  6565  59054  531447  4782976  43046729  387420498  9^t+t

[3610 rows x 10 columns]

In [50]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.6)

In [51]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2166 entries, 2327 to 1656
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2166 non-null   int64
 1   1       2166 non-null   int64
 2   2       2166 non-null   int64
 3   3       2166 non-null   int64
 4   4       2166 non-null   int64
 5   5       2166 non-null   int64
 6   6       2166 non-null   int64
 7   7       2166 non-null   int64
 8   8       2166 non-null   int64
 9   eqs     2166 non-null   object
dtypes: int64(9), object(1)
memory usage: 186.1+ KB

In [18]:
test.to_csv('./data/eqs-test.csv')

In [ ]:
train.to_csv('./data/eqs.csv')