In [212]:
from sympy import *
from random import choice, randrange
import numpy as np
import pandas as pd
from typing import List
from utils import generate_random_eq, is_eq_valid

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [213]:

generate_random_eq(9)

'2*t*0*6+t'

In [214]:
eqs = list(set([generate_random_eq(9) for i in range(0, 10000)]))
len(eqs)

9971

In [215]:
ts = [1,2,3,5,10]




eqs = [eq for eq in eqs if is_eq_valid(eq, ts) == True]
len(eqs)

7258

In [216]:
eqs[1]

't+t-7+2*t'

In [217]:
# because we need to wrap int casting into a try-catch block, we can't use array comprehensionran
X = []
for fun in eqs:
    int_seq = []
    for i in range(1, 10):
        try:
            int_seq.append(int(parse_expr(fun, local_dict = {'t': i})))
        except:
            pass
    X.append(int_seq)
X = [x for x in X if len(x) == 9]
len(X)

7258

In [218]:
data = pd.DataFrame(X)
data['eqs'] = eqs
data

       0   1   2    3    4    5    6    7    8        eqs
0      6   7   8    9   10   11   12   13   14  0+t+5+5-5
1     -3   1   5    9   13   17   21   25   29  t+t-7+2*t
2     41  68  95  122  149  176  203  230  257  t*9*3+8+6
3     13  18  23   28   33   38   43   48   53  t*5+7*1+1
4      1   2   3    4    5    6    7    8    9  2+1+t-2-1
...   ..  ..  ..  ...  ...  ...  ...  ...  ...        ...
7253  36  40  44   48   52   56   60   64   68  t+t*3+4*8
7254   9  10  11   12   13   14   15   16   17  1*9+2+t-3
7255  14  11   8    5    2   -1   -4   -7  -10  8-2*t-t+9
7256  -2   3   8   13   18   23   28   33   38  3-1+5*t-9
7257   5  -2  -9  -16  -23  -30  -37  -44  -51  9+3-8*t+t

[7258 rows x 10 columns]

In [219]:
data.to_csv('data.csv')